body {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgba(21, 67, 96, 0.9);
}

.logo {
    display: inline-block;
    width : 50%;
    height : auto;
    padding-top: 5px;
}

.contents {
    text-align: center;
}

.controller {
    background-color: lightslategrey;
    padding-top: 3px;
    padding-bottom: 3px;
}

.areaList {
    width: 100px;
}
.selectWithIcon {
    display: inline-block;
    position: relative;
}
.selectWithIcon i {
    color: #1B2631;
    left: 5px;
    padding: 6px 5px;
    position: absolute;
}

.select2-selection__rendered {
    color: #1B2631;
    font-family: sans-serif;
    margin-left: 15px;
}
.select2-results__options {
    color: #1B2631;
    font-family: sans-serif;
}

.inputWithIcon input[type="text"] {
    vertical-align: middle;
    border: 1px solid #aaa;
    border-radius: 4px;
    color: #1B2631;
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 30px;
    outline: none;
    width: 130px;
}
.inputWithIcon {
    display: inline-block;
    position: relative;
}
.inputWithIcon i {
    color: #1B2631;
    left: 5px;
    padding: 6px 5px;
    position: absolute;
}

.buttonWithIcon {
    background-color: #ffffff;
    border: 1px solid #aaa;
    border-radius: 4px;
    color: #444;
    display: inline-block;
    font-family: sans-serif;
    height: 28px;
    position: relative;
    width: 34px;
}

.dataTables_wrapper {
    clear: both;
    color: #1B2631;
    font-family: sans-serif;
    font-size: calc(75% + 0.5vw);
    position: relative;
    *zoom: 1;
    zoom: 1;
}

@media screen and (min-width: 760px) {
    .dataTables_wrapper {
        display: inline-block;
        width: 70vw;
    }
    hr {
        border-top: 1px solid #121212;
        width: 70vw;
    }
}
@media screen and (min-width: 1200px) {
    .dataTables_wrapper {
        display: inline-block;
        width: 50vw;
    }
    hr {
        border-top: 1px solid #121212;
        width: 50vw;
    }
}

.dataTables_wrapper thead tr th {
    background-color: rgba(21, 67, 96, 0.9);
    color: #ffffff;
    font-weight: normal;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(21, 67, 96, 0.1);
}

.dataTables_wrapper table tr:nth-child(even) td {
	background: rgba(21, 67, 96, 0.1);
    padding-top: 3px;
    padding-bottom: 3px;
}

.dataTables_wrapper table tr:nth-child(odd) td {
	background: #ffffff;
    padding-top: 3px;
    padding-bottom: 3px;
}

.dataTables_wrapper table.no-footer {
    border-bottom: 1px solid rgba(21, 67, 96, 0.9);
}

ul {
    padding-left: 20px;
    padding-right: 5px;
}

.disclaimer {
    display: inline-block;
    color: #1B2631;
    font-size: calc(35% + 0.5vw);
    text-align: left;
}

.copyright {
    background-color: rgba(21, 67, 96, 0.9);
    color: #ffffff;
    font-size: calc(55% + 0.5vw);
    padding-top: 5px;
    padding-bottom: 5px;
}

.ui-datepicker-today.ui-datepicker-current-day a.ui-state-highlight {
    border-color: #aaaaaa;
    background: #5897fb;
    color: #ffffff;
}