.areaList {
    width: 100px;
}
.selectWithIcon {
    display: inline-block;
    position: relative;
}
.selectWithIcon i {
    color: #1B2631;
    left: 5px;
    padding: 6px 5px;
    position: absolute;
}

.select2-selection__rendered {
    color: #1B2631;
    font-family: sans-serif;
    margin-left: 15px;
}
.select2-results__options {
    color: #1B2631;
    font-family: sans-serif;
}

.inputWithIcon input[type="text"] {
    border: 1px solid #aaa;
    border-radius: 4px;
    color: #1B2631;
    font-family: sans-serif;
    font-size: 15px;
    height: 22px;
    margin: 12px 0px;
    padding-bottom: 3px;
    outline: none;
    padding-left: 30px;
    width: 130px;
}
.inputWithIcon {
    display: inline-block;
    position: relative;
}
.inputWithIcon i {
    color: #1B2631;
    left: 2px;
    padding: 18px 8px;
    position: absolute;
}

.buttonWithIcon {
    border: 1px solid #aaa;
    border-radius: 4px;
    color: #444;
    display: inline-block;
    font-family: sans-serif;
    height: 28px;
    position: relative;
    width: 34px;
}

.dataTables_wrapper {
    clear: both;
    color: #1B2631;
    font-family: sans-serif;
    font-size: calc(75% + 0.5vw);
    margin-top: 5%;
    position: relative;
    *zoom: 1;
    zoom: 1;
}
@media screen and (min-width: 760px) {
    .dataTables_wrapper {
        display: inline-block;
        width: 70vw;
    }
}
@media screen and (min-width: 1200px) {
    .dataTables_wrapper {
        display: inline-block;
        width: 50vw;
    }
}

.dataTables_wrapper thead tr th {
    background-color: rgba(21, 67, 96, 0.9);
    color: #ffffff;
    font-weight: normal;
    padding-top: 3px;
    padding-bottom: 3px;
}
.dataTables_wrapper table tr:nth-child(even) td {
	background: rgba(21, 67, 96, 0.1);
    padding-top: 3px;
    padding-bottom: 3px;
}

.dataTables_wrapper table tr:nth-child(odd) td {
	background: #ffffff;
    padding-top: 3px;
    padding-bottom: 3px;
}

.disclaimer {
    color: #1B2631;
    font-size: calc(35% + 0.5vw);
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: left;
}

.copyright {
    color: #1B2631;
    font-size: calc(55% + 0.5vw);
    padding-top: 5px;
    padding-bottom: 5px;
}